@import "tailwindcss";

:root {
  --background: url("/fun.png");
}
#back{
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}
body {
  border: 10px solid green;
  border-radius: 5px;
}




