@import "tailwindcss";

:root {
  --background: url("/public/next.svg");
  --foreground: #fa0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ff0000;
    --foreground: #ededed;
  }
}

body {
  box-sizing: border-box;
  background-image: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




