@import "tailwindcss";

:root {
  --background: url("/fun.png");
}

body {
  border: 15px solid green;
  width: 100%;
  height: 100%;
  background-image: var(--background);
  border-radius: 5px;
}




