@import "tailwindcss";

:root {
  --background: url("/fun.png");
}
#back{
  background-image: var(--background);
  width: 100%;
  height: 100%;
}
body {
  border: 10px solid green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}




